/*athletes css start*/
.container {
  margin-top: 30px;
}

.row {
  gap: 30px;
}

.card {
  height: auto;
  background-image: url(../img/about-img/purplefoot.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

.card img {
  height: 16rem;
  width: auto;
  background-position: center;
}

.card-body hr {
  height: 4px;
  /* Set the height/thickness of the line */
  background-color: #000;
  /* Set the color of the line */
}

.card-title {
  font-size: 1.5rem;
  text-align: center;
}

.card-text {
  display: none;
}

/*athletes css end*/