/* Contact Form Styles */
#contact {
  max-width: 1400px;
  padding: 20px;
  /* Padding for content spacing */
  color: #fff;
  /* Text color for better contrast */
}

#contact .row {
  background: rgba(128, 0, 128, 0.8);
  /* Semi-transparent background for content */
  padding: 20px;
  /* Padding around the content */
  border-radius: 8px;
  /* Rounded corners */
  width: 100%;
  max-width: 1000px;
  /* Limit the maximum width */
  margin: 0 auto;
  /* Center align */
  box-shadow: 0px 0px 3px 1px white;
}

.form-control {
  border-radius: 0.25rem;
}

.mb-3 {
  font-size: 18px;
}

.form-text {
  font-size: 0.875rem;
  color: #f4f8fc;
}

.row button {
  color: rgb(255, 255, 255);
  background-color: black;
}

.row button:hover {
  background-color: #ffffff;
  color: #000000;
}

/*contact css end*/