/*faqs css start*/
.accordion-body{
  background-color:#7e007e;
  font-size: 19px;
}
.accordion-button{
  background-color: rgb(105, 0, 105);
  color: white;
}
.accordion {
  margin-top: 65px;
  margin: 50px;
}

.accordion button {
  font-size: 20px;
  font-weight: bold;
}

#faqs {
  margin-top: 20px;
}

/*faqs css end*/