/*games css start*/
* {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  margin-top: 30px;
}

.row {
  row-gap: 30px;
}

.card {
  background-color: rgba(221, 221, 221, 0.938);
  transition: 0.6s ease;
  box-shadow: 0px 0px 5px #ffffff;
}

.card:hover {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 15px #dfdfdf;
}

.card img {
  height: 16rem;
  width: auto;
  background-position: center;
}

.card-body hr {
  height: 2px;
  background-color: #000;
}

.card-title {
  font-size: 1.2rem;
  font-weight: 700;
  text-align: center;
  margin-left: 5px;
}

/*games css end*/