h2,h3,h4{
  color: white; 
}
.faqs .accordion-body{
  color: white; 
}
/* animation for container commming from left */
.container {
  left: -100%;
  /* Start off-screen */
  opacity: 0;
  /* Hidden initially */
  position: relative;
  transition: left 0.8s ease, opacity 0.8s ease;
}
.container.show {
  left: 0;
  opacity: 1; /* Fade in */
}
/* animation for container commming from left */

/* banner css start */
.banner {
  background-image: url(../img/himg/img1.jpg);
  background-size: cover;
  background-position: center;
  color: rgb(255, 255, 255);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

.banner-logo {
  max-width: 300px;
}

.banner-tagline {
  font-size: 2rem;
  margin-top: 20px;
  color: rgb(255, 255, 255);
  text-shadow: 0px 0px 5px rgb(71, 71, 71);
  font-weight: bold;
}

.scroll-button {
  font-weight: bold;
  margin-top: 40px;
  backdrop-filter: blur(5px);
}

/* banner css end */

/* games css */

.games img {
  width: 100%;
  height: 100%;
  gap: 100px;
}

.games-heading a {
  text-decoration: none;
  color: white;
}

.games-heading h2 {
  font-weight: 600;
  position: relative;
  top: 8px;
}

.games .col {
  position: relative;
  overflow: hidden;
}

.games h3 {
  width: 98%;
  height: 100%;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.63);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 100%;
  transition: 0.5s ease-in-out;
}

.games .col:hover h3 {
  top: 0;
  /* Move h3 into view on hover */
}

/* games css */

/* atheletes css */
.atheletes p {
  color: rgb(0, 0, 0);
}

.atheletes img {
  background-size: cover;
  background-position: center;
  height: 230px;
}

/* atheletes css */

/* related news css */
.news h3 {
  text-shadow: 0px 0px 10px rgb(0, 0, 0);
  backdrop-filter: blur(5px);
}

@media (max-width: 768px) {
  .carousel-caption h3 {
    font-size: 15px;
  }
}

/* related news css */

/* records css */
.records p,
.records strong {
  color: rgb(255, 255, 255);
}

.records .list-group-item {
  background-color: #7e007e00;
}

.sub-heading h3 {
  font-weight: 600;
  text-align: center;
}
.table tbody {
  background-color: rgba(219, 0, 219, 0.24);
}
/* records css */

/* upcomming css */
.upevent p,
.upevent h4,
.prevent p,
.prevent h4 {
  color: rgb(255, 255, 255);
}

.timeline {
  position: relative;
  margin: 20px 0;
  padding: 10px 0;
  list-style: none;
}

.timeline:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 2px;
  background: #ddd;
  left: 50%;
  margin-left: -1px;
}

.timeline-item {
  margin: 20px 0;
  position: relative;
  width: 50%;
  padding: 10px 20px;
  box-sizing: border-box;
}

.timeline-item:nth-child(odd) {
  left: 0;
}

.timeline-item:nth-child(even) {
  left: 50%;
}

.timeline-item:before {
  content: '';
  position: absolute;
  top: 15px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #007bff;
  border: 2px solid #fff;
}

.timeline-date {
  position: relative;
  left: 20px;
  font-size: 14px;
  color: #b8b8b8;
  margin-bottom: 5px;
}

.timeline-content {
  background-color: #7e007e8a;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.timeline-content h4 {
  margin-top: 0;
  font-size: 18px;
}

@media (max-width: 768px) {
  .timeline:before {
    display: none;
  }

  .timeline-item {
    margin: 20px 0;
    position: relative;
    width: 100%;
    padding: 10px 20px;
    box-sizing: border-box;
  }

  .timeline-item:nth-child(odd) {
    left: 0;
  }

  .timeline-item:nth-child(even) {
    left: 0;
  }
}

/* upcomming css */

/* faqs css */
.faqs .accordion-body {
  background-color: #7e007e;
}

.faqs .accordion-button {
  background-color: rgb(105, 0, 105);
  color: white;
}

/* faqs css */


